.list-input {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .usa-label {
    align-self: center;
    margin-top: 0 !important;
    margin-right: 0.5rem;
  }

  .usa-input {
    height: 2rem;
    margin-top: 0 !important;
    max-width: 120px;
  }
}

.checkbox-radio-group legend {
  font-weight: normal;
}
